table, th, td {
    border: 1px solid;
    border-collapse: collapse;
  }
  th {
    background-color: blueviolet;
  
  }
  tr {
    background-color: rgb(87, 87, 212);


  }


tbody tr :nth-child(even) {
      background-color: rgb(177, 177, 29);
}


tbody tr :nth-child(odd) {
  background-color:bisque;
}